#ContactContainer{
    background-color: #faf9f617;
    margin-top: 2rem;
    margin-bottom: 10rem;
    width: 80%;
    min-height: 500px;
    height: 50vh;
    max-height: 1000px;
    transform: rotate(-10deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--offwhite);
    animation: workRotation 11s alternate .05s infinite;
    box-shadow: 0px 0px 10px 0px #fff;
}

#ContactContainer>h2{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: #FAF9F6;
    text-shadow: 0px 0px 10px #FAF9F6;
    background-color: transparent;
    margin-bottom: 2rem;
}

#ContactContainer>form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#ContactContainer>form>input,textarea{
    color: white;
    background-color: transparent;
    font-size: 1.2rem;
}

@keyframes contactRotation {
    from{
        transform: rotate(1deg);
    }
    to{
        transform: rotate(-2deg);
    }
}

.socialLink{
    padding: 10px;
    background-color: transparent;
}

i{
    font-size: 3rem;
    background-color: transparent;
}

#ContactContainer form{
    background-color: transparent;
}

#ContactContainer a{
    color: white
}