#ContactContainer{
    background-color: #faf9f606;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-height: 1000px;
    transform: rotate(1deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--offwhite);
    animation: aboutRotation 10s alternate .1s infinite;
    box-shadow: 0px 0px 10px 0px #fff;
    margin-bottom: 10rem;
}

#ContactContainer>h2{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: #FAF9F6;
    text-shadow: 0px 0px 10px #FAF9F6;
    background-color: transparent;
    margin-bottom: 2rem;
}

#ContactContainer>form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#ContactContainer>form>input,textarea{
    color: white;
    background-color: transparent;
    font-size: 1.2rem;
}

@keyframes contactRotation {
    from{
        transform: rotate(1deg);
    }
    to{
        transform: rotate(-2deg);
    }
}

.socialLink{
    padding: 10px;
    background-color: transparent;
}

i{
    font-size: 3rem;
    background-color: transparent;
}

#ContactContainer form{
    background-color: transparent;
}

#ContactContainer a{
    color: white
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"],input[type="email"],textarea{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}

textarea{
    resize: none;
    height: 100px;
}

input[type="submit"]{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
    cursor: pointer;
}
