:root{
    --primary: #000;
    --secondary: #fff;
    --tertiary: #f2f2f2;
    --background: #111024;
    --offwhite: #FAF9F6;
}

*{
    margin: 0;
    padding: 0;
    background-color: var(--background);
    user-select: none;
}

#Container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

img{
    width: 100px;
    height: auto;
    animation: logoAnim 5s linear .5s infinite;
    transform: rotate(-25deg);
}

@keyframes logoAnim {
    0%{
        transform: rotate(-25deg);
        transform: scale(1)
    }
    20%{
        transform: rotate(-25deg);
    }
    40%{
        transform: rotate(0deg);
        transform: scale(.95);
    }
    60%{
        transform: rotate(25deg);
    }
    80%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-25deg);
        transform: scale(1);
    }
}

header{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

svg{
    width: 40px;
    color: #FAF9F6;
    height: auto;
}

svg:hover{
    opacity: 75%;
}

svg:active{
    opacity: 50%;
}


.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: var(--offwhite);
    border-radius: 50%;  
    box-shadow: 24vw 9vh 1px 0px #FAF9F6,12vw -24vh 0px 1px rgb(255, 137, 137),-45vw -22vh 0px 0px #fff,-37vw -40vh 0px 1px #fff,29vw 19vh 0px 1px #fff,4vw -8vh 0px 1px #fff,-5vw 21vh 1px 1px rgb(255, 137, 137),-27vw 26vh 1px 1px #fff,-47vw -3vh 1px 1px #fff,-28vw -30vh 0px 1px rgb(120, 120, 255),-43vw -27vh 0px 1px #fff,4vw 22vh 1px 1px #fff,36vw 23vh 0px 0px #fff,-21vw 24vh 1px 1px rgb(255, 137, 137),-16vw 2vh 1px 0px #fff,-16vw -6vh 0px 0px #fff,5vw 26vh 0px 0px #fff,-34vw 41vh 0px 0px rgb(120, 120, 255),1vw 42vh 1px 1px #fff,11vw -13vh 1px 1px #fff,48vw -8vh 1px 0px #fff,22vw -15vh 0px 0px rgb(120, 120, 255),45vw 49vh 0px 0px #fff,43vw -27vh 1px 1px #fff,20vw -2vh 0px 0px #fff,8vw 22vh 0px 1px rgb(120, 120, 255),39vw 48vh 1px 1px #fff,-21vw -11vh 0px 1px #fff,-40vw 45vh 0px 1px #fff,11vw -30vh 1px 0px #fff,26vw 30vh 1px 0px #fff,45vw -29vh 0px 1px #fff,-2vw 18vh 0px 0px #fff,-29vw -45vh 1px 0px #fff,-7vw -27vh 1px 1px #fff,42vw 24vh 0px 0px #fff,45vw -48vh 1px 0px #fff,-36vw -18vh 0px 0px #fff,-44vw 13vh 0px 1px #fff,36vw 16vh 0px 1px #fff,40vw 24vh 0px 0px #fff,18vw 11vh 0px 0px #fff,-15vw -23vh 1px 0px #fff,-24vw 48vh 0px 1px #fff,27vw -45vh 1px 0px #fff,-2vw -24vh 0px 1px #fff,-15vw -28vh 0px 0px #fff,-43vw 13vh 1px 0px #fff,7vw 27vh 1px 0px #fff,47vw 5vh 0px 0px #fff,-45vw 15vh 1px 1px #fff,-5vw -28vh 0px 1px #fff,38vw 25vh 1px 1px #fff,-39vw -1vh 1px 0px #fff,5vw 0vh 1px 0px #fff,49vw 13vh 0px 0px #fff,48vw 10vh 0px 1px #fff,19vw -28vh 0px 0px #fff,4vw 7vh 0px 0px #fff,21vw 21vh 1px 1px #fff,-15vw -15vh 0px 1px #fff,-6vw -42vh 1px 0px #fff,-15vw 48vh 1px 1px #fff,-23vw 25vh 1px 1px #fff,-48vw 25vh 0px 1px #fff,-31vw -19vh 0px 1px #fff,4vw 37vh 1px 1px #fff,-43vw 28vh 0px 0px #fff,3vw -25vh 0px 1px #fff,-39vw 14vh 0px 1px #fff,-40vw 31vh 0px 1px #fff,35vw -36vh 1px 1px #fff,16vw 49vh 0px 0px #fff,6vw 39vh 0px 0px #fff,3vw -35vh 0px 1px #fff,-44vw -2vh 1px 0px #fff,-6vw 21vh 1px 0px #fff,48vw 9vh 1px 1px #fff,-43vw 30vh 1px 1px #fff,29vw -12vh 1px 1px #fff,-48vw 13vh 1px 0px #fff,-42vw 32vh 1px 1px #fff,34vw 15vh 1px 1px #fff,29vw -37vh 1px 1px #fff,28vw 2vh 0px 0px #fff;
    animation: zoom 15s alternate infinite; 
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

#AboutContainer{
    background-color: #faf9f617;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    min-height: 500px;
    height: 50vh;
    max-height: 1000px;
    transform: rotate(1deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--offwhite);
    animation: aboutRotation 10s alternate .1s infinite;
    box-shadow: 0px 0px 10px 0px #fff;
}

@keyframes aboutRotation {
    from{
        transform: rotate(1deg);
    }
    to{
        transform: rotate(-2deg);
    }
}

div#AboutContainer h1{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    background-color: transparent;
}

div#AboutContainer h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: transparent;
    min-width: 300px;
    max-width: 50vw;
    width: 80%;
}

.color{
    background-color: transparent;
    font-size: 2rem;
    color: red;
    transition: .5s ;
    /* capitalize */
    text-shadow: 0px 0px 10px blue;
    text-transform: uppercase;

}

.color:hover{
    color: blue;
    font-size: 2.2rem;
}